html {
	box-sizing: border-box;
}

*, 
*::before, 
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/NotoSansRegular.woff2') format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/NotoSansSemiBold.woff2') format('woff2');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

:root {
	--color-dark: #4d4d4d;
	--color-light: #808080;
	--color-accent: #5d71dd;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;
	padding: 100px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
}

.container{
	display: flex;
	justify-content: space-evenly;
}
.product {
	width: 100%;
	max-width: 285px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	font-size: 14px;
	background-color: #fff;
}

.product__image {
	height: 100vh;
	position: relative;
	overflow: hidden;
	display: block;
	height: 162px;
}

.image-switch {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	display: flex;
}

.image-switch__item {
	flex-grow: 1;
	cursor: pointer;
}

.image-switch__img {
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 2;
	height: 100%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	background-color: #fff;
	opacity: 0;
	transition: opacity .7s;
	width: 100%;
}

.image-switch__img img {
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-switch__item:first-child .image-switch__img {
	opacity: 1;
	z-index: -1;
}

.image-switch__item:hover .image-switch__img {
	opacity: 1;
	z-index: -1;
	transition: opacity .7s;
}
.image-pagination {
	position: absolute;
	z-index: 30;
	left: 0;
	bottom: 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, .1);
}

.image-pagination__item {
	display: block;
	width: 100%;
	height: 15px;
	transition: 0.3s;
	opacity: 0.5;
	border-radius: 2px;
	background-color: black;
	z-index: 30;
}

.image-pagination__item--active {
	background-color: #fff;
}




